* {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.logo {
    max-height: 32px;
}

button {
    border-radius: 4px;
    border: none;
    color: #fff;
    font-weight: 700;
    background: #F90;
    width: 175px;
    height: 53px;
    flex-shrink: 0;
}