* {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#top {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 40px 20px;  */
}

.navbar {
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotype {
    background-color: brown;
    display: flex;
    max-height: 32px;
}

.menu {
    background-color: yellow;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

/* .menu--item {

} */

body {
    margin:0;
    background-color: rgb(36, 36, 36);
}


/* main {
    height: 200vh;
} */

.max-width {
    max-width: 1400px;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    /* max-width: 1400px; */
}

.card {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.logo {
    max-height: 32px;
    margin-top: 45px;
}

button {
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #F90;
    width: 175px;
    height: 53px;
    flex-shrink: 0;
}

.btn--header {
    font-weight: 600;
    width: 110px;
    height: 46px;
}

.btn--header-white {
    font-weight: 600;
    border:
    background-color: #fff;
    width: 110px;
    height: 46px;
}